nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    width: max(100vw, 320px);
    height: max(10vh, 20px);
    padding: 0 30px;
    position: fixed;
    top: 0;
    box-shadow: 0 0 5px 2px #e1d6d6;
}

.logo{
    width: 3em;
}

.cart-link{
    position: relative;
    font-size: 2em;
}

.order-count{
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    font-size: 0.5em;
    background: red;
    width: 1em;
    border-radius: 0.5em;
    text-align: center;
    color: white;
}