.counter-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 0 5px 2px #e1d6d6;
}

.counter-btn{
    padding-top: 5px;
    font-size: 1em;
}

.vertical-partition{
    height: 2em
}